body {
  background: linear-gradient(
    106.5deg,
    rgba(252, 202, 164, 0.91) 23%,
    rgba(223, 159, 247, 0.8) 93%
  );
}
.Weather {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(135, 135, 135);
  padding: 16px;
  border: 1px solid #dadde1;
  border-radius: 4px;
  background: linear-gradient(
    179.4deg,
    rgb(253, 240, 233) 2.2%,
    rgb(255, 194, 203) 96.2%
  );
}
.Weather h1 {
  font-size: 24px;
  font-weight: 100;
  line-height: 29px;
  margin: 20px 0 0 0;
}

.Weather ul {
  margin: 0;
  padding: 0;
}
.Weather li {
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
  list-style: none;
}
.Weather img {
  display: inline-block;
  width: 64px;
  height: 64px;
  margin-right: 4px;
}
.Weather .temperature {
  font-weight: bold;
  font-size: 60px;
  color: rgb(33, 33, 33);
  font-weight: 400;
  line-height: 60px;
  margin-left: 5px;
}
.Weather .units {
  color: rgb(33, 33, 33);
  font-size: 16px;
  font-weight: 400;
  position: relative;
  line-height: 1;
  top: -34px;
  margin-left: 5px;
}
